<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <main id="section-page" style="padding-top: var(--space-4xl);">
        <div class="container">
            {{ content }}
            <br><br>
            <hr>
            <button id="back-to-top" type="button" title="Quay lại đầu trang" aria-label="Quay lại đầu trang" aria-hidden="true">
                <span class="bx bxs-to-top" aria-hidden="true"></span>
            </button>
        </div>
    </main>

    {% include footer.html %}
    <script src="/js/main.js"></script>
</body>

</html>
